In [1]:
import pandas as pd

# Put all adversarial samples in test data

In [13]:
df_adv = pd.read_csv('cleaned_textfooler_tweets.csv', index_col=0)
print(df_adv.shape)
df_adv.head()

(15556, 9)

,ground_truth_output,num_queries,original_output,original_score,original_text,perturbed_output,perturbed_score,perturbed_text,result_type
0,1.0,75.0,1.0,0.000293,The decision to remove Chick-fil-A from Emory ...,0.0,0.998949,The resolutions to remove Chick-fil-A from Emo...,Successful
1,1.0,120.0,1.0,0.000170,Mike Dovillas big ideas like expanding the Ohi...,0.0,0.927907,Mike Dovillas big ideas like expanding the Ohi...,Successful
2,0.0,1.0,1.0,0.959588,Ron Klein repeatedly voted in favor of amnesty...,1.0,0.959588,Ron Klein repeatedly voted in favor of amnesty...,Skipped
3,1.0,55.0,1.0,0.000151,Since the salary for state lawmakers was raise...,0.0,0.606062,If the salary for state parliamentary was rais...,Successful
4,0.0,41.0,0.0,0.006753,"Before Congress, (Tom) Cotton got paid handsom...",1.0,0.968190,"Before Congress, (Tom) Cotton got paid gratefu...",Successful

In [14]:
df_adv = df_adv[df_adv['result_type']=='Successful'][['perturbed_text', 'ground_truth_output']]
df_adv.columns = ['text', 'truth']
df_adv['truth'] = df_adv['truth'].astype('int')
df_adv['split'] = 'TEST'
print(df_adv.shape)
df_adv.head()

(13778, 3)

                                                text  truth split
0  The resolutions to remove Chick-fil-A from Emo...      1  TEST
1  Mike Dovillas big ideas like expanding the Ohi...      1  TEST
3  If the salary for state parliamentary was rais...      1  TEST
4  Before Congress, (Tom) Cotton got paid gratefu...      0  TEST
5  Tennessees appeals courts judges were picked b...      1  TEST

In [15]:
df = pd.read_csv('combined_relevant_data.csv')
print(df.shape)
df.head()

(47503, 3)

                                                text  truth  split
0  The decision to remove Chick-fil-A from Emory ...      1  TRAIN
1  Mike Dovillas big ideas like expanding the Ohi...      1  TRAIN
2  Ron Klein repeatedly voted in favor of amnesty...      0  TRAIN
3  Since the salary for state lawmakers was raise...      1  TRAIN
4  Before Congress, (Tom) Cotton got paid handsom...      0  TRAIN

In [18]:
df_combined = pd.concat([df, df_adv])
print(df_combined.shape)
df_combined.tail()

(61281, 3)

                                                    text  truth split
15549  RAW VIDEO War Memorial assassinate. http://t.c...      1  TEST
15550  Says federal regulated adopted in 2011 increas...      1  TEST
15551  RIPTA has explicitly some of the entire busses...      1  TEST
15552  Lawyer for Dorian Johnson, eyewitness to #Mich...      1  TEST
15553  #Ferguson: Commune Don't Need Tanks http://t.c...      1  TEST

In [19]:
df_combined.to_csv('combined_original_adv_data.csv', index=None)

# Put 50% adversarial samples in train and the rest in test

In [68]:
df_adv = pd.read_csv('cleaned_textfooler_tweets.csv', index_col=0)
print(df_adv.shape)
df_adv.head()

(15556, 9)

,ground_truth_output,num_queries,original_output,original_score,original_text,perturbed_output,perturbed_score,perturbed_text,result_type
0,1.0,75.0,1.0,0.000293,The decision to remove Chick-fil-A from Emory ...,0.0,0.998949,The resolutions to remove Chick-fil-A from Emo...,Successful
1,1.0,120.0,1.0,0.000170,Mike Dovillas big ideas like expanding the Ohi...,0.0,0.927907,Mike Dovillas big ideas like expanding the Ohi...,Successful
2,0.0,1.0,1.0,0.959588,Ron Klein repeatedly voted in favor of amnesty...,1.0,0.959588,Ron Klein repeatedly voted in favor of amnesty...,Skipped
3,1.0,55.0,1.0,0.000151,Since the salary for state lawmakers was raise...,0.0,0.606062,If the salary for state parliamentary was rais...,Successful
4,0.0,41.0,0.0,0.006753,"Before Congress, (Tom) Cotton got paid handsom...",1.0,0.968190,"Before Congress, (Tom) Cotton got paid gratefu...",Successful

In [69]:
df_adv = df_adv[df_adv['result_type']=='Successful'][['perturbed_text', 'ground_truth_output']]
df_adv.reset_index(inplace=True, drop=True)
df_adv.columns = ['text', 'truth']
df_adv['truth'] = df_adv['truth'].astype('int')
df_adv['split'] = 'TRAIN'
print(df_adv.shape)
df_adv.head()

(13778, 3)

                                                text  truth  split
0  The resolutions to remove Chick-fil-A from Emo...      1  TRAIN
1  Mike Dovillas big ideas like expanding the Ohi...      1  TRAIN
2  If the salary for state parliamentary was rais...      1  TRAIN
3  Before Congress, (Tom) Cotton got paid gratefu...      0  TRAIN
4  Tennessees appeals courts judges were picked b...      1  TRAIN

In [70]:
df_adv['split'].value_counts()

TRAIN    13778
Name: split, dtype: int64

In [71]:
index_to_change = df_adv.iloc[::2].index

In [72]:
df_adv.loc[index_to_change,'split'] = 'TEST'

In [73]:
df_adv['split'].value_counts()

TRAIN    6889
TEST     6889
Name: split, dtype: int64

In [74]:
df = pd.read_csv('combined_relevant_data.csv')
print(df.shape)
df.head()

(47503, 3)

                                                text  truth  split
0  The decision to remove Chick-fil-A from Emory ...      1  TRAIN
1  Mike Dovillas big ideas like expanding the Ohi...      1  TRAIN
2  Ron Klein repeatedly voted in favor of amnesty...      0  TRAIN
3  Since the salary for state lawmakers was raise...      1  TRAIN
4  Before Congress, (Tom) Cotton got paid handsom...      0  TRAIN

In [75]:
df_combined = pd.concat([df, df_adv])
print(df_combined.shape)
df_combined.tail()

(61281, 3)

                                                    text  truth  split
13773  RAW VIDEO War Memorial assassinate. http://t.c...      1  TRAIN
13774  Says federal regulated adopted in 2011 increas...      1   TEST
13775  RIPTA has explicitly some of the entire busses...      1  TRAIN
13776  Lawyer for Dorian Johnson, eyewitness to #Mich...      1   TEST
13777  #Ferguson: Commune Don't Need Tanks http://t.c...      1  TRAIN

In [76]:
df_combined.to_csv('combined_adv_training_data.csv', index=None)