In [2]:
import pandas as pd

In [16]:
df = pd.read_csv('cleaned_textfooler_tweets.csv')
print(df.shape)
df.head()

(15556, 10)

,Unnamed: 0,ground_truth_output,num_queries,original_output,original_score,original_text,perturbed_output,perturbed_score,perturbed_text,result_type
0,0,1.0,75.0,1.0,0.000293,The decision to remove Chick-fil-A from Emory ...,0.0,0.998949,The resolutions to remove Chick-fil-A from Emo...,Successful
1,1,1.0,120.0,1.0,0.000170,Mike Dovillas big ideas like expanding the Ohi...,0.0,0.927907,Mike Dovillas big ideas like expanding the Ohi...,Successful
2,2,0.0,1.0,1.0,0.959588,Ron Klein repeatedly voted in favor of amnesty...,1.0,0.959588,Ron Klein repeatedly voted in favor of amnesty...,Skipped
3,3,1.0,55.0,1.0,0.000151,Since the salary for state lawmakers was raise...,0.0,0.606062,If the salary for state parliamentary was rais...,Successful
4,4,0.0,41.0,0.0,0.006753,"Before Congress, (Tom) Cotton got paid handsom...",1.0,0.968190,"Before Congress, (Tom) Cotton got paid gratefu...",Successful

In [17]:
df_data = df[['perturbed_text']]
df_data.columns = ['text']
print(df_data.shape)

(15556, 1)

In [18]:
df_train = df_data[:int(len(df_data)*0.75)]
df_test = df_data[int(len(df_data)*0.75):]
print(df_train.shape, df_test.shape)

(11667, 1) (3889, 1)

In [19]:
df_train.to_csv('train.csv', index=None)

In [4]:
df_test = pd.read_csv('combined_adv_training_data.csv')
print(df_test.shape)
print(df_test.head())

(61281, 3)
                                                text  truth  split
0  The decision to remove Chick-fil-A from Emory ...      1  TRAIN
1  Mike Dovillas big ideas like expanding the Ohi...      1  TRAIN
2  Ron Klein repeatedly voted in favor of amnesty...      0  TRAIN
3  Since the salary for state lawmakers was raise...      1  TRAIN
4  Before Congress, (Tom) Cotton got paid handsom...      0  TRAIN

In [5]:
df_test = df_test[df_test['split']=='TEST']
print(df_test.shape)
print(df_test.head())

(14015, 3)
                                                    text  truth split
40377  At Twin River, were more than competitive with...      1  TEST
40378  BBC ideal headline\n"Devout Muslim trapped by ...      1  TEST
40379  Over the last six years, the state of Illinois...      1  TEST
40380       Trump vs. Clinton Is the 1980s vs. the 1990s      1  TEST
40381  Says a pack-a-day smoker who quits because of ...      1  TEST

In [6]:
df_test.truth.value_counts()

1    8563
0    5452
Name: truth, dtype: int64

In [7]:
df_test.to_csv('test.csv')

In [ ]:
# train/test before adversarial samples
(29926, 128) (3326, 128) (29926,) (3326,)
(7126, 128) (7126,)

In [ ]:
# train/test after adversarial samples
(36126, 128) (4015, 128) (36126,) (4015,)
(14015, 128) (14015,)